.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#buttonContainer {
  display: flex;
  width: 25%;
  height: 25%;
  flex-wrap: wrap;
}

.button {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

#calculatorDisplay {
  display: flex;
  flex-direction: column;
  width: 300px;
  
}

.displayBox {
  background-color: aqua;
  text-align: center;
}