.App {
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculatorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#buttonContainer {
  display: flex;
  width: 25%;
  height: 25%;
  flex-wrap: wrap;
}

.button {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

#calculatorDisplay {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: rgb(105, 240, 105);
  
}

.calculatedNumber {
  font-weight: bold;
}

.displayBox {
  background-color: rgb(111, 244, 244);
  text-align: center;
}